<%- include('../layout/header') %>

<a class="btn btn-link" href="/">Home Page</a><br />
<h2>Total: <%= result.data.length %> users</h2>
<% result.data.forEach(user => { %>
<p style="margin-top: 20px;">
    <img src="<%= user.avatar %>" width="44" height="44" style="float: left; margin-top: -4px; margin-right: 8px;" />
    <span><%= user.firstName + ' ' + user.lastName %></span><br />
    <span><%= user.email %></span>
</p>
<% }) %>

<%- include('../layout/footer') %>